body {
    margin: 0px;
    background: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%) fixed;
    font-family: DejaVu Sans Mono, monospace;
}

.nav_bar {
    margin: 0%;
    display: flex;
    justify-content: space-between;
    padding: 2%;
    background: #4e7ed9;
}

.topic {
    display: flex;
    padding: 10%;
    flex-direction: row;
}

.header_item {
    display: inline-block;
    font-size: 23px;
    margin-left: 15px;
    margin-right: 15px;
    font-weight: bold;
    color: #ffffff
}

.vl {
    border-left: 3px solid black;
    height: 100%;
    display: inline;
    border-color: #ffffff;
}

.header_item:hover{
    color: #ffc47d;
}
a{
    text-decoration: none;
}
